<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/filters.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <nav>
        <ul id="navbar">
            <li id="filters">
                <a onclick="toggleFilters()" href="javascript:void(0);">
                    <h4>סינונים<i class="bi bi-funnel"></i></h4>
                </a>
            </li>
        </ul>
    </nav>
    <form action="/products/filter" method="get">
    <div class="categoryFilter" id="filterBar">
        <ul>
            <li>
                <div class="slider-container">
                    <label>:טווח מחירים</label>
                    <div id="slider-range"></div>
                    <p id="price-range"></p>
                </div>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="organic" id="organic">
                    מוצרים אורגניים
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="parve" id="parve">
                    מוצרים פרווה
                </label>
            </li>
        </ul>
        <button onclick="applyFilters()">הצגת תוצאות</button>
    </div>
</form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="views/filters.js"></script>
</body>
</html>

















