<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style/fotter.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <section class="footer-about">
                <h3 id="t">About Us</h3>
                <p id="p">סופר אונליין ידידותי עם שירות מצוין, מחירים נוחים ומבחר של מוצרים טריים וטעימים.</p>
            </section>
            <section class="footer-links">
                <h3 id="t">Quick Links</h3>
                <ul>
                    <li id="p"><a href="#">Home</a></li>
                <!--<li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>-->
                </ul>
            </section>
            <section class="footer-contact">
                <h3 id="t">Contact Us</h3>
                <address>
                    <p id="p">Email: <a href="mailto:hamiclalit-info@gmail.com">hamiclalit-info@gmail.com</a></p>
                </address>
            </section>
            <section class="footer-video">
                <h3 id="t">Our Video</h3>
                <div class="video-container">
                    <iframe width="250" height="140" src="https://www.youtube.com/embed/mAvmmNC5y5w" title="זה הזמן לחזק את החקלאות הישראלית! קונים פירות וירקות תוצרת הארץ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
            <section class="footer-logo">
                <img id="SuperLogo" src="/img/clearLogo2.png">
            </section>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 hamiclalit. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
