<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style/fotter.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <section class="footer-about">
                <h3 id="t">קצת עלינו</h3>
                <p id="p">סופר אונליין ידידותי עם שירות מצוין ומבחר של מוצרים טריים וטעימים במחירים משתלמים</p>
                <p id="con1">! כי כל מה שחשוב לך נמצא כאן, במקום אחד</p>
                <p><a id="con" href=":שעות פתיחה">:שעות פתיחה</p>
                    <p id="days">ימים ראשון - חמישי</p>
                    <p id="hours">7:00 - 21:00</p>
                    <p id="days">ימי שישי</p>
                    <p id="hours">7:00 - 15:00</p>
                    <p id="days">ימי שבת</p>
                    <p id="hours">20:30 - 23:00</p>
            </section>
            <section class="footer-links">
                <h3 id="t">גישה מהירה</h3>
                <ul> 
                    <p id="hours">כדי להפוך את חוויית הקנייה שלך ליעילה ונוחה יותר, הוספנו קישורים מהירים שיקלו עליך במהלך הגלישה באתר</p>
                    <p id="hours">עכשיו, כל מה שצריך הוא קליק אחד כדי לגשת במהירות לקטגוריות ולפריטים האהובים עליך</p>
                    <p id="con1">! קנייה חכמה, פשוטה ומהירה יותר מחכה לך כאן</p>
                    <li id="p"><a id="p1" href="/location/map">הסניפים שלנו</li>
                    <li id="p"><a id="p1" href="/">עמוד הבית</a></li>
                    <li id="p"><a id="p1" href="/profile">משתמש </a></li>
                   
                <!--<li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>-->
                </ul>
            </section>
            <section class="footer-contact">
                <h3 id="t">צרו קשר</h3>
                <address>
                    <p id="p">Email: <a id="p1" href="mailto:hamiclalit-info@gmail.com">hamiclalit-info@gmail.com</a></p>
                    <p id="phone">Phone: <a id="phone1" href="0527733969">0527733969</p>
                        <p><a id="con" href=":שעות ליצירת קשר">:שעות ליצירת קשר</p>
                            <p id="days">ימים ראשון - חמישי</p>
                            <p id="hours">10:00 - 20:00</p>
                            <p id="days">ימי שישי</p>
                            <p id="hours">10:00 - 14:00</p>
                            <p id="days">ימי שבת</p>
                            <p id="hours">21:00 - 22:00</p>
                    
                </address>
            </section>
            <section class="footer-video">
                <h3 id="t">הסרטון שלנו</h3>
                <div class="video-container">
                    <video width="310" height="200" controls>
                        <source src="/img/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
            <!-- <section class="footer-logo">
                <img id="SuperLogo" src="/img/clearLogo2.png">
            </section> -->
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 hamiclalit. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>