<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="SuperLogo" src="/img/clearLogo2.png">
        
        <!-- For big screen -->
        <nav>
            <ul id="navbar">
                <li id="threeLines"><a onclick="ShowCatBar()" href="#"><h4><i class="bi bi-list"></i></h4></a></li>
                <li id="hiddenCart"><a href="/cart" id="cartIcon">הסל שלי <i class="bi bi-cart3"></i></a></li>
                <li><a href="/location/map">!חפשו אותנו <i class="bi bi-geo-alt"></i></a></li>
                <li><a href="#">משתמש  <i class="bi bi-person-circle"></i></a></li>
                <li><a href="/">עמוד הבית <i class="bi bi-house-heart-fill"></i></a></li>
                <li><a href="/users/register">הירשמות <i class="bi bi-envelope"></i></a></li>
                <li><a href="/users/login">התחברות <i class="bi bi-box-arrow-in-left"></i></a></li>

            </ul>
        </nav>
        <nav class="categoryDiv">
            <ul>
                <li id="X"><i onclick="HideCatBar()" class="bi bi-x-lg"></i></li>
                <li>
                    <form action="/search" method="GET" class="searchBar">
                        <button type="submit"><i class="bi bi-search"></i></button>
                        <input name="q" type="text" placeholder="...חפש">
                    </form>
                </li>
                <br>
                <li><a href="/meat">בשר</a></li>
                <li><a href="/fish">דגים</a></li>
                <li><a href="/milk">מוצרי חלב</a></li>
                <li><a href="/fruits">פירות</a></li>
                <li><a href="/vegetables">ירקות</a></li>
                <li><a href="/cleanliness">ניקיון</a></li>
                <li><a href="/dry">יבשים (קטניות, פסטות, שימורים)</a></li>
                <li><a href="/sweets and snacks"> ממתקים וחטיפים</a></li>
                <li><a href="/drinks">משקאות</a></li>
                <li><a href="/frozen">קפואים</a></li>
                <li><a href="/Bread and pastries">לחמים ומאפים</a></li>
            </ul>
        </nav>
        <!-- for smaller screen -->
        <nav id="smallerScreen">
            <a href="#" onclick="ShowCatBarSmall()"><h4><i class="bi bi-list"></i></h4></a>
            <a href="/cart" id="cartIconSmaller">עגלת הקניות <i class="bi bi-cart3"></i></a>
            <div class="categoryDivSmall">
                <ul>
                    <li id="XforSmall"><i onclick="HideCatBarSmall()" class="bi bi-x-lg"></i></li>
                    <li>
                        <form action="/search" method="get" class="searchBar">
                            <button type="submit"><i class="bi bi-search"></i></button>
                            <input type="text" placeholder="...חפש">
                        </form>
                    </li>
                    <br>
                    <li><a href="/meat">בשר</a></li>
                    <li><a href="/fish">דגים</a></li>
                    <li><a href="/milk">מוצרי חלב</a></li>
                    <li><a href="/fruits">פירות</a></li>
                    <li><a href="/vegetables">ירקות</a></li>
                    <li><a href="/cleanliness">ניקיון</a></li>
                    <li><a href="/dry">יבשים (קטניות, פסטות, שימורים)</a></li>
                    <li><a href="/sweets and snacks"> ממתקים וחטיפים</a></li>
                    <li><a href="/drinks">משקאות</a></li>
                    <li><a href="/frozen">קפואים</a></li>
                    <li><a href="/Bread and pastries">לחמים ומאפים</a></li>
                    <br><br>
                    <hr>
                    <li><a href="/location">!חפשו אותנו <i class="bi bi-geo-alt"></i></a></li>
                    <li><a href="#">משתמש  <i class="bi bi-person-circle"></i></a></li>
                    <li><a href="#">עמוד הבית <i class="bi bi-house-heart-fill"></i></a></li>
                    <li><a href="/users/register">הירשמות <i class="bi bi-envelope"></i></a></li>
                <li><a href="/users/login">התחברות <i class="bi bi-box-arrow-in-left"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- for the smallest screens -->
        <nav id="VerysmallScreen">
            <a href="#" onclick="ShowCatBarVerySmall()"><i class="bi bi-list"></i></a>
            <a href="#" id="cartIconSmaller"><i class="bi bi-cart3"></i></a>
            <div class="categoryDivVerySmall">
                <ul>
                    <li id="XforVerySmall"><i onclick="HideCatBarVerySmall()" class="bi bi-x-lg"></i></li>
                    <li>
                        <form action="/search" method="get" class="searchBar">
                            <button type="submit"><i class="bi bi-search"></i></button>
                            <input type="text" placeholder="...חפש">
                        </form>
                    </li>
                    <br>
                    <li><a href="/meat">בשר</a></li>
                    <li><a href="/fish">דגים</a></li>
                    <li><a href="/milk">מוצרי חלב</a></li>
                    <li><a href="/fruits">פירות</a></li>
                    <li><a href="/vegetables">ירקות</a></li>
                    <li><a href="/cleanliness">ניקיון</a></li>
                    <li><a href="/dry">יבשים (קטניות, פסטות, שימורים)</a></li>
                    <li><a href="/sweets and snacks"> ממתקים וחטיפים</a></li>
                    <li><a href="/drinks">משקאות</a></li>
                    <li><a href="/frozen">קפואים</a></li>
                    <li><a href="/Bread and pastries">לחמים ומאפים</a></li>
                    <br><br>
                    <hr>
                    <li><a href="/location">!חפשו אותנו <i class="bi bi-geo-alt"></i></a></li>
                    <li><a href="#">משתמש  <i class="bi bi-person-circle"></i></a></li>
                    <li><a href="#">עמוד הבית <i class="bi bi-house-heart-fill"></i></a></li>
                    <li><a href="/users/register">הירשמות <i class="bi bi-envelope"></i></a></li>
                <li><a href="/users/login">התחברות <i class="bi bi-box-arrow-in-left"></i></a></li>
                <% if (user) { %>
                    <li><a href="/users/logout">Logout</a></li>
                <% } %>
                </ul>
            </div>
        </nav>
       
        <ul>
            <% if (user && user.role === 'admin') { %>
                <li><a href="/admin/dashboard">Admin Dashboard</a></li>              
            <% } %>
        </ul>
      
        
    </header>
    <script src="JavaScript/categoryBar.js"></script>
</body>
</html>