@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Regular' ;
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik2' ;
  src: url("/fonts/Rubik-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
#t1 {
    position: relative;
    margin-left: 39%;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
    font-weight: normal;
  }

  #link1,#link2,#link3 {
    color: rgba(25, 134, 98, 0.986); 
    font-size: 1.2em; 
    text-decoration: none; 
    position: relative; 
    padding: 10px 20px; 
    display: inline-block; 
    margin-right: 2%; 
    font-weight: bold;
    background-color: rgba(197, 231, 202, 0.822); 
    border-radius: 50px; 
    text-align: center; 
    border: 3px solid rgba(25, 134, 98, 0.986); 
}
#link1
{
    position: relative;
    margin-left: 32%;
}

a:hover {
    color: rgba(25, 134, 98, 0.986); 
}
#admin
{
    position: relative;
    margin-top: 19%; /* מוסיף מרווח עליון של 20px */
    margin-left: 2.5%;

}
#admin2,#admin3,#admin4
{
    position: relative;
    margin-top: 19%; /* מוסיף מרווח עליון של 20px */

}

