@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Regular' ;
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik2' ;
  src: url("/fonts/Rubik-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
#t1 {
    position: relative;
    margin-left: 39%;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
    font-weight: normal;
  }


  /* כלליים עבור כל הקישורים */
  #link1,#link2,#link3 {
    color: rgba(25, 134, 98, 0.986); /* צבע הקישורים */
    font-size: 1.2em; /* גודל הטקסט של הקישורים */
    text-decoration: none; /* מבטל את הקו התחתון של הקישורים */
    position: relative; /* נדרש כדי למקם את הכוכבית יחסית לקישור */
    padding: 10px 20px; /* ריפוד פנימי עבור הקישורים */
    display: inline-block; /* מאפשר להוסיף רווח בין הקישורים */
    margin-right: 2%; /* רווח בין הקישורים */
    font-weight: bold;
    background-color: rgba(197, 231, 202, 0.822); /* צבע הרקע של האליפסה */
    border-radius: 50px; /* רדיוס הגבול ליצירת אליפסה */
    text-align: center; /* מיישר את הטקסט במרכז האליפסה */
    border: 3px solid rgba(25, 134, 98, 0.986); /* קו מסגרת מסביב לאליפסה */
}
#link1
{
    position: relative;
    margin-left: 32%;
}
    
/* שינוי צבע הקישור כאשר העכבר מרחף עליו */
a:hover {
    color: rgba(25, 134, 98, 0.986); /* צבע הקישור בעת ריחוף */
}

