.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font: 12px sans-serif;
}
#chart{
    text-align: center;
}
#t3
{
    position: relative;
    margin-left: 32%;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
    color: black;
}
#t2
{
    position: relative;
    margin-left: 42%;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
}
#alert-container
{
    display: none;
}
#search-box
{
    padding: 0.5%; 
    font-size: large; 
    border: 2px solid rgba(197, 231, 202, 0.822) ; 
    border-radius: 8px;
    width: 18%; 
}
#search-but {
    padding: 0.5%; /* מרווח פנימי */
    font-size: large; /* גודל גופן */
    border: 2px solid  rgba(25, 134, 98, 0.986); /* ללא קו גבול */
    border-radius: 8px; /* עיגול הפינות */
    background-color: rgba(197, 231, 202, 0.822); /* צבע הרקע */
    color: black; /* צבע הטקסט */
    cursor: pointer; /* משתנה לצורת יד בעת העכבר על הכפתור */
    transition: background-color 0.3s; /* אנימציה על צבע הרקע */
    color: rgba(25, 134, 98, 0.986);
    
}

/* שינוי צבע רקע כשמעבירים את העכבר מעל הכפתור */
#search-but:hover{
    background-color: rgba(163, 223, 172, 0.863); 
  }
  #row
  {
    text-align: center;
    font-size: large;
    font-family: 'medium';
    color: rgba(25, 134, 98, 0.986);
  }
@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Regular' ;
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik2' ;
  src: url("/fonts/Rubik-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
table {
    width: 100%; /* מאפשר לטבלה להשתמש בכל רוחב הקונטיינר שלה */
    max-width: 1200px; /* מקסימום רוחב לטבלה */
    border-collapse: collapse; /* מסיר רווחים בין התאים */
    margin: 0 auto; /* מרכז את הטבלה בתוך הקונטיינר */
    text-align: center;
}
/* הגדרת רוחב לפי מחלקות */
.order-id {
    width: 5%;
    background-color: rgba(197, 231, 202, 0.822);
}

.user {
    width: 30%;
    background-color: rgba(197, 231, 202, 0.822);
}

.products {
    width: 30%;
    background-color: rgba(197, 231, 202, 0.822);
}

.total {
    width: 10%;
    background-color: rgba(197, 231, 202, 0.822);
}

.status {
    width: 5%;
    background-color: rgba(197, 231, 202, 0.822);
}

.created-at {
    width: 15%;
    background-color: rgba(197, 231, 202, 0.822);
}
.edit,.delete
{
    background-color: rgba(197, 231, 202, 0.822);
}

