

#numOfProducts
{
    text-align: center;
    font-family: 'Medium';
    text-shadow: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(219, 253, 224);
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.empty-cart {
    text-align: center;
    margin: 50px 0;
    font-size: 18px;
    color: #666;
}

.actions {
    text-align: center;
    margin: 20px 0;
}

.actions a {
    padding: 0.5%; /* מרווח פנימי */
    font-size: large; /* גודל גופן */
    border: 2px solid  rgba(25, 134, 98, 0.986); /* ללא קו גבול */
    border-radius: 8px; /* עיגול הפינות */
    background-color: rgba(197, 231, 202, 0.822); /* צבע הרקע */
    color: black; /* צבע הטקסט */
    cursor: pointer; /* משתנה לצורת יד בעת העכבר על הכפתור */
    color: rgba(25, 134, 98, 0.986);
    margin-right: 10px;
    text-decoration: none;
}


.actions a:hover {
    background-color: #45a049;

}



.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #050505;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
    

.delete-btn:hover {
    color: #ff0000;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }
}

@font-face 
{
font-family:'Rubik' ;
src: url("/fonts/RubikDoodleShadow-Regular.ttf");
font-style: normal ;
font-weight: 100;
}


#title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
}
#th1
{
    font-family: 'Medium';
    text-shadow: black;
    text-align: center;

}

@font-face 
{
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}


.product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
}


