@font-face {
    font-family: 'Rubik';
    src: url("/fonts/RubikDoodleShadow-Regular.ttf");
    font-style: normal;
    font-weight: 100;
    text-align: center;
}

#title {
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 100;

}

@font-face {
    font-family: 'Medium';
    src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
    font-style: normal;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between items */
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust the gap between image and text */
}

.item-details {
    font-family: 'Medium';
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .btn {
    margin: 0 5px; /* מרווח בין הכפתורים אם צריך */
}
#address,#city
{
    text-align: right;
}

.inline-form {
    margin: 0;
}
#img-order {
    width: 30%; 
    height: auto; 
    position: relative;
    margin-left: 0%;
}
.form-control {
    border: 2px solid #ccc; /* מסגרת אפורה לשדות הקלט */
    border-radius: 4px; /* פינות מעוגלות לשדות הקלט */
    padding: 8px; /* ריפוד פנימי לשדות הקלט */
    box-sizing: border-box; /* כולל גבולות ו-padding ברוחב */
    transition: border-color 0.3s; /* אנימציה על שינוי צבע המסגרת */
}

.form-control:focus {
    border-color: #007bff; /* צבע מסגרת כחול כאשר שדה הקלט בפוקוס */
    outline: none; /* מסיר את הקו מסביב לשדה הקלט */
}

.form-label {
    display: block; /* הופך את התיוג לבלוק */
    margin-bottom: 0.5rem; /* מרווח בין התיוג לשדה הקלט */
    font-weight: bold; /* בולט יותר */
    border: 1px solid #ddd; /* מסגרת קלה לתיוגים */
    border-radius: 4px; /* פינות מעוגלות לתיוגים */
    padding: 4px; /* ריפוד פנימי לתיוגים */
    background-color: #f9f9f9; /* צבע רקע לתיוגים */
    text-align: right;
}

.mb-3 {
    margin-bottom: 1rem; /* רווח בין השדות */
}
.form-container {
    border: 3px solid rgb(219, 253, 224); /* מסגרת דקה סביב כל הטופס */
    border-radius: 8px; /* עיגול הפינות של המסגרת */
    padding: 16px; /* ריפוד פנימי סביב התוכן */
    max-width: 100%; /* רוחב מקסימלי לקונטיינר */
    margin: auto; /* למרכז את הקונטיינר בדף */
    background-color: #fff; /* צבע רקע לבן */
}
