@font-face 
{
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
{
  font-family:'Regular' ;
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
{
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
#T2 {
    position: relative;
    text-align: center;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
    }
      #chart{
        text-align: center;
      }
    #simple {
      position: relative;
      margin-left: 35%;
      border-style: solid;
      border-color: rgb(219, 253, 224);
      width: 30%;
    }
    #but:hover{
      background-color: rgba(163, 223, 172, 0.863); 
    }
    
    #i1, #i2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: large;
      text-align: center;
    }
    
    #but {
      position: relative;
      margin-left: 46%;
      border-radius: 8px;
      background-color: rgba(197, 231, 202, 0.822);
      color: rgba(25, 134, 98, 0.986);
      border: solid;
      border-color: rgba(25, 134, 98, 0.986);
      border-width: 0.3mm;
    }
    
    #d1, #d2{
      box-align: center;
    
    }
    #status,#total {
        text-align: right;
    }

    #but1, #but2 {
      padding: 1%; /* מרווח פנימי */
      font-size: large; /* גודל גופן */
      border: 2px solid  rgba(25, 134, 98, 0.986); /* ללא קו גבול */
      border-radius: 8px; /* עיגול הפינות */
      background-color: rgba(197, 231, 202, 0.822); /* צבע הרקע */
      color: black; /* צבע הטקסט */
      cursor: pointer; /* משתנה לצורת יד בעת העכבר על הכפתור */
      transition: background-color 0.3s; /* אנימציה על צבע הרקע */
      color: rgba(25, 134, 98, 0.986);
  }
  
  /* שינוי צבע רקע כשמעבירים את העכבר מעל הכפתור */
  #but1:hover,#but2:hover{
      background-color: rgba(163, 223, 172, 0.863); 
    }
    /* סגנון לקונטיינר של הכפתורים */
.button-container {
    display: flex; /* מאפשר סידור הכפתורים בשורה אחת */
    gap: 10px; /* רווח בין הכפתורים (תוכל לשנות את הערך לפי הצורך) */
    position: relative;
    margin-left: 36%;
}


