
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 55px 0;
    background: white;
    white-space: nowrap;
    position: relative;
 
    z-index: 1;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .logos-slide img {
    height: 55px;
    margin: 0 30px;
  }

  @font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}

#recommended
{
    text-align: center;
}
#recommended_title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
}
/* .custom-input-container {
  display: flex;
  align-items: center;
}
.custom-input {
  width: 30%;
  padding: 3%;
  font-size: large;
  text-align: center;
  position: relative;
  transition: border-color 0.3s ease;
  margin-left: 18.5%;
  margin-top: 4%;
}
.custom-input:focus {
  border-color: rgb(219, 253, 224);
  outline: none;
}
.custom-input-button {
  color: black;
  font-size: large;
  position: relative;
  margin-left: 0%;
  background-color: rgb(219, 253, 224);
  border: solid;
  width: 3%;
  border-color: rgba(25, 134, 98, 0.986);
  border-width: 0.3mm;

}
.custom-input-button:hover {
  background-color: rgb(219, 253, 224);
}
 */
