
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 55px 0;
    background: white;
    white-space: nowrap;
    position: relative;
 
    z-index: 1;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .logos-slide img {
    height: 55px;
    margin: 0 30px;
  }

  @font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}

#welcome{
  text-align: center;
}

#recommended
{
    text-align: center;
}
#recommended_title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
}
.custom-input-container {
  display: flex;
  align-items: center; 
  justify-content: center;  
}

.custom-input-button1, .custom-input-button {
  width: 10%; 
  height: 37px; 
  font-size: x-large; 
  color: black;
  background-color: rgb(219, 253, 224);
  border: solid;
  border-width: 0.3mm;
  border-color: rgba(25, 134, 98, 0.986);
  border-radius: 10%; 
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.custom-input-button1 {
  margin-right: -28%; 
  margin-top: 4%;
  width: 6%;
  height: 37.6px;
}

.custom-input-button {
  margin-left: 0%; 
  margin-top: 4%;
  height: 37.6px;
  width: 6%;
}

.custominput {
  width: 32%;  
  height: 40px; 
  padding: 5%; 
  margin-left: 28%;
  margin-top: 4%;
  font-size: large; 
  text-align: center; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 10%; 
  transition: border-color 0.3s ease;
}

.custom-input:focus {
  border-color: rgb(219, 253, 224);
  outline: none;
}
.custom-input-button1:hover,
.custom-input-button:hover{
    background-color: rgba(163, 223, 172, 0.863); 
  }
  .reset-link {
    display: inline-block;
    margin-top: 10px;
    color: rgb(25, 134, 98); 
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer; 
    position: relative;
    margin-top: 0%;
    transition: color 0.3s ease; 
}

.reset-link:hover {
    color: rgba(25, 134, 98, 0.7); 
}

.reset-link:active {
    color: rgba(25, 134, 98, 0.5); 
}

.reset-container {
    margin-top: 10px; 
    text-align: center; 
}

