table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
#history_title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
}