

@font-face 
{
font-family:'Rubik' ;
src: url("/fonts/RubikDoodleShadow-Regular.ttf");
font-style: normal ;
font-weight: 100;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
#history_title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
}
#t1 {
    color: rgba(197, 231, 202, 0.822);/* משנה את הצבע של האלמנט עם ה-id 't1' לירוק */
}

.list-group-item {
    border-top: 2px solid rgba(197, 231, 202, 0.822)!important;
    border-right: 2px solid rgba(197, 231, 202, 0.822)!important;
    border-bottom:2px solid rgba(197, 231, 202, 0.822)!important;;
    border-left: 2px solid rgba(197, 231, 202, 0.822)!important;
    margin-bottom: 2%; /* מוסיף רווח בין ההזמנות */
    border-radius: 0.8em; /* מוסיף עיגול קל לפינות */
    padding: 1%; /* מוסיף רווח פנימי להזמנה */
    box-sizing: border-box; /* מבטיח שה-padding לא יחתוך את הגבול */
}
#greeting
{
      font-family: 'Medium';
      text-shadow: black;
}
@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}