main{
    text-align: center;
    z-index: 3;
}

.card
{
    position: relative;
    float:right;
    margin-right:3%;
    margin-top: 3%;
    width: 20rem;
    height: 35rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.card-body
{
    position: relative;
    text-align: right;
    z-index: 3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}
#AddtoCart
{
   
    background-color: rgba(197, 231, 202, 0.822);
    color: rgba(25, 134, 98, 0.986);
    border:solid;
    border-color:rgba(25, 134, 98, 0.986);
    border-width: 0.3mm;
    margin-top: auto ;

}
#AddtoCart:hover
{
    background-color: rgba(163, 223, 172, 0.863);
    transition: 0.57s;
}
.card-body a{
    color: rgba(25, 134, 98, 0.986);   
  
}
.card img{
    width: 85%;
    margin: 0 auto;
}
.actions
{
    display: flex;
    justify-content:space-evenly;
    margin-top: auto ;
}
#T1
{
    position: relative;
    margin-left: 38.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}
#simple
{
    position: relative;
    margin-left: 27%;
    border: 3;
    width: 43%;
}
#i1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}
#i2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}
#i3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}#i4
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}#i5
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;

}#i7
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}#i8
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}#i9
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:large;
}
button[type="submit"] 
{
    position: relative;
    margin-left: 45%;
}
#d1
{
    box-align:center;
}
#d2
{
    box-align:center;
}
#d3
{
    box-align:center;
}
#d4
{
    box-align:center;
}
#d5
{
    box-align:center;
}
#d6
{
    box-align:center;
}
#d7
{
    box-align:center;
}
#d8
{
    box-align:center;
}

