main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 3;
    padding: 2%;
}
@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Regular' ;
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
@font-face 
  {
  font-family:'Rubik' ;
  src: url("/fonts/RubikDoodleShadow-Regular.ttf");
  font-style: normal ;
  font-weight: 100;
}
.card {
    position: relative;
    margin: 2%;
    width: 20rem;
    height: 32rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

.card img {
    width: 85%;
    margin: 0 auto;
}

.card-body {
    position: relative;
    text-align: right; /* Align text to the right */
    z-index: 3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family: 'Medium';
    width: 100%; /* Ensure card-body takes full width */
    padding: 1rem;
    box-sizing: border-box;
}
.card-text
{
   font-family: 'Regular';
}
#AddtoCart {
    background-color: rgba(197, 231, 202, 0.822);
    color: rgba(25, 134, 98, 0.986);
    border: solid;
    border-color: rgba(25, 134, 98, 0.986);
    border-width: 0.3mm;
    margin-top: auto;
    width: 100%; /* Ensure button takes full width */
    padding: 0.5rem;
    box-sizing: border-box;
}

#AddtoCart:hover {
    background-color: rgba(163, 223, 172, 0.863);
    transition: 0.57s;
}


.card-body a{
    color: rgba(25, 134, 98, 0.986);   
  
}
.card img{
    width: 85%;
    margin: 0 auto;
}
.actions
{
    display: flex;
    justify-content:space-evenly;
    margin-top: auto ;
}

#T1 {
    position: relative;
    margin-left: 36.5%;
    font-family: 'Rubik';
    font-style: italic;
    text-shadow: 60%;
}

#simple {
    position: relative;
    margin-left: 37%;
    border-style: solid;
    border-color: rgb(219, 253, 224);
    width: 22%;
}

#i1, #i2, #i3, #i4, #i5, #i7, #i8, #i9, #i10 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#but {
    position: relative;
    margin-left: 45%;
    border-radius: 8px;
    background-color: rgba(197, 231, 202, 0.822);
    color: rgba(25, 134, 98, 0.986);
    border: solid;
    border-color: rgba(25, 134, 98, 0.986);
    border-width: 0.3mm;
}

#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8 , #d9{
    box-align: center;
}

