/* body {
  background: linear-gradient(90deg, rgba(172, 247, 206, 0.459), rgba(117, 255, 170, 0.774)) ;
}  */
@font-face 
{
font-family:'Rubik' ;
src: url("/fonts/RubikDoodleShadow-Regular.ttf");
font-style: normal ;
font-weight: 100;
text-align: center;
}


#title
{
    font-size: 300%;
    font-family: 'Rubik';
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 2px 6px rgb(147, 223, 160);
}
#div1
{
      font-family: 'Medium';
      text-shadow: black;
      text-align: center;

}

@font-face 
{
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
#link
{
  color: rgba(25, 134, 98, 0.986);
  font-weight: bold;
}
.card {
  margin: 0 auto;

  /* background: linear-gradient(135deg,rgb(210, 255, 218),rgba(189, 255, 222, 0.712) ); */
  width: 25rem;
  height: 25em;
  z-index: 3;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1px 2px 6px rgb(147, 223, 160);
  /* animation: fadeIn 2s ease-in-out; */

 
}

#con
{
  position: relative;
}
@media (max-width: 470px)
{
#title
{
  font-size: 220%;
}

}


/* @keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
} */