/* Base styles */
body {
    background: linear-gradient(90deg, rgba(158, 241, 195, 0.459), rgba(87, 250, 149, 0.774)) ;
  } 
/* Warning message */
.warning {
    text-align: center;
}

/* Login box wrapper */
.login-box {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 2%;
    border-radius: 2.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Adjusted for better control */
}

/* Font styles */
@font-face {
    font-family: 'Rubik';
    src: url("/fonts/RubikDoodleShadow-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Medium';
    src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
    font-style: normal;
    font-weight: 100;
}

/* Title */
h2 {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Rubik';
}

/* Form elements */
.textbox {
    margin-bottom: 4%;
}

.textbox input {
    text-align: right;
    width: 100%;
    padding: 3%;
    border: 1px solid #ddd;
    border-radius: 5%;
    font-size: medium;
}

.btn {
    position: relative;
    margin-left: 0; /* Centered alignment */
    border-radius: 8px;
    background-color: rgba(197, 231, 202, 0.822);
    color: rgba(25, 134, 98, 0.986);
    border: solid;
    border-color: rgba(25, 134, 98, 0.986);
    border-width: 0.5mm;
    width: 100%; /* Full width on small screens */
    padding: 10px; /* Adjusted padding */
}

/* Image */
.absolute-container {
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%); /* Center the container */
    width: 50%;
    display: flex;
    justify-content: end; /* Center horizontally */
}

#register-image {
    width: 100%; /* Make image responsive */
    max-width: 500px; /* Constrain image width */
}
