@font-face 
{
font-family:'Rubik' ;
src: url("/fonts/RubikDoodleShadow-Regular.ttf");
font-style: normal ;
font-weight: 100;
}
@font-face 
  {
  font-family:'Medium' ;
  src: url("/fonts/IBMPlexSansHebrew-Medium.ttf");
  font-style: normal ;
  font-weight: 100;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 3;
  padding: 2%;
}

h1{
    text-align: right;
    font-family: 'Rubik';
    margin-right: 2%;
}
#numOfProducts
{
    text-align: right;
     font-family: 'Medium';
    margin-right: 2%;
   
}

#slider-range {
  width: 25%; /* שינוי לרוחב מלא או ערך אחר לצורך התאמה */
  margin-bottom: 1rem; /* מרווח תחתון */
}

/* צבעים לסליידר */
.ui-slider-range {
  background: rgb(219, 253, 224); /* צבע עמידה של הסליידר */
}
/* צבע גבול הידיות של הסליידר */
.ui-slider-handle {
  background: rgb(219, 253, 224); /* צבע רקע של הידית של הסליידר */
  border: 2px solid rgb(25, 134, 98); /* גבול שחור עם רוחב של 2px */
}

/* שינוי צבע גבול הידיות בעת השהייה (hover) */
.ui-slider-handle:hover {
  background:rgb(219, 253, 224); /* צבע הידית כאשר עובר מעליה בעכבר */
  border: 2px solid rgb(25, 134, 98); /* גבול שחור בעת השהייה */
}

/* שינוי צבע גבול הידיות כאשר יש focus */
.ui-slider-handle:focus {
  background: rgb(219, 253, 224); /* צבע הידית כאשר יש focus */
  border: 2px solid rgb(25, 134, 98); /* גבול שחור כאשר יש focus */
}


