<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>פעולות מנהל</h1>
    <nav>
        <a href="/admin/products">ניהול מוצריםs</a>
        <a href="/admin/users">ניהול משתמשים</a>
        <a href="/admin/orders">ניהול הזמנות</a>
    </nav>
</body>
</html>
