<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Modal</title>
    <link rel="stylesheet" href="../public/style/header.css">
</head>
<body>

    <%- include('partials/header') %>
    
    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>
    <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <!-- The Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <form action="/users/login" method="POST">
                <h2>התחברות</h2>
                <label for="userName">שם משתמש</label>
                <input type="text" id="userName" name="userName" required>
                <label for="password">סיסמה</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">התחברות</button>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
