<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style/orderSuccess.css">
</head>
<body>
    <%- include('partials/header') %>
    <br><br>
    <h1 id="title">&#9734;  !   קנייתך הושלמה  &#9734 </h1> 
    <br><br>

    <div id="div1"> 
        <p> <i class="bi bi-emoji-smile"></i> תודה שקניתם המכללית - שפע המכללית, נשמח לראותכם ברכישות הבאות והישארו מעודכנים לגבי סטטוס ההזמנה </p>
    </div>
    <img id="v-img" src="/img/v.png">
</body>
</html>
